*{
  box-sizing:border-box;
}

.BOX{

    width: 200px;
    height: 200px;
    background: rgb(17, 247, 250);
    padding: 20px;
    border: 10px solid rgb(255, 89, 0) 
}

/*margin: 12H 15H 18H 21H /*