#Titulo {
  color: blueviolet;
  font-size: 55px;
  background-color: rgb(38, 11, 68);
}

#Paragrafo {
  color: rgb(86, 17, 95);
  font-size: 25px;
  background-color: rgb(206, 188, 222);
  font-weight: bold;
}

#Botão {
  color: rgb(212, 22, 168);
  background-color: rgb(45, 15, 66);
}

#Botão2 {
  color: rgb(255, 0, 195);
  background-color: rgb(45, 15, 66);
}

* {
  background-color: rgb(210, 188, 231);
}


/* CSS SEMPRE VAI SER EM ESTILO CASCATA - 
O QUE VEM DEPOIS É OQ PREVALECE /*