@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

h1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(55, 3, 140);
    font-family: 'Noto sans japanese', sans-serif;
    font-style: oblique;
    text-shadow: 10px 10px 10px;

}


p {
    color: black;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Noto sans japanese', sans-serif;
    font-style:italic;
    line-height: 50px;
    letter-spacing: 5px;  
    word-spacing: 10px;
    text-align:left;
    text-transform:uppercase;
    text-decoration: underline;

}


*{
    background-color: rgb(138, 78, 229);
}