*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

div{
    width: 700px;
    height: 700px;
    background: rgb(113, 227, 7);
}

@media screen and (max-width:600px) and (orientation: landscape) {
    div{
        background: rgb(238, 19, 241);
        height: 200px;
        width: 200px;
    }
}



/* RESPONSIVIDADE 
ALL: Para todos os dispositivos
Brailler: Para dispositivos tateis (PESSOAS COM DEFICIENCIA VISUAL)
Embossed: Para dispositivos que imprimem em braile
Handheld: Para dispositivos portateis, geralmente com telas pequenas e banda limitada.
Print: Para impressão em papel.
Projection: Para apresentações com PPS.
Screen: Para monitores ou dispositivos com telas coloridas e resolução adequada 
Speech: Para sintetizadores de voz. As CSS 2 tem uma especificidade de CSS chamada aural, 
onde podemos formatar a voz dos sintetizadores 

**ORIENTAÇÃO**
Portrait -> Altura maior que a largura
Landscape -> Largura maior que a altura
/*